<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>家計簿アプリ</title>
	<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="main">
		<div class="title">
			<h1>購入リスト</h1>
		</div>
		<div class="error-message">
			<p th:text="${error}"></p>
		</div>
		<div class="table-section">
			<table class="purchase-table">
				<tr>
					<th>日付</th>
					<th>商品</th>
					<th>値段</th>
					<th>編集/削除</th>
				</tr>
				<tr th:each="purchase:${purchaseList}">
					<td th:text="${#temporals.format(purchase.purchaseDate, 'yyyy年M月d日')}" class="purchase-table-date"></td>
					<td th:text="${purchase.itemName}" class="purchase-table-name"></td>
					<td th:text="'¥' + ${purchase.price}" class="purchase-table-price"></td>
					<td class="purchase-table-edit">
						<div class="btn update-link-btn">
							<a th:href="@{'/update/' + ${purchase.id}}" >編集</a>
						</div>
						<div class="btn delete-link-btn">
							<a th:href="@{'/delete/' + ${purchase.id}}" >削除</a>
						</div>
					</td>
				</tr>
			</table>
			<table class="total-price-table">
				<tr>
					<th>合計金額</th>
				</tr>
				<tr>
					<td th:text="'¥' + ${totalPrice}"></td>
				</tr>
			</table>
		</div>
		<div class="btn create-link-btn">
			<a href="/new">新規登録</a>
		</div>
	</div>
</body>
</html>