<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>新規作成</title>
	<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="main">
		<div class="crud-form create-form">
			<h2>新規作成フォーム</h2>
			<form method="post" action="#" th:action="@{/new}">
				<p>日付</p>
				<input type="date" name="purchaseDate" th:value="${today}">
				<p>商品名</p>
				<input type="text" name="itemName">
				<p>値段</p>
				<input type="number" name="price" value=" ">
				<div class="submit-btn">
					<input type="submit" value="登録">
				</div>
			</form>
		</div>
		<div class="cancel-btn">
			<a href="/index">キャンセル</a>
		</div>
	</div>
</body>
</html>